@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    font-family: "Inconsolata", monospace;
}

/*---------------home page styling---------------*/

.home_page {
    background: url('/src/assets/home/background-home-desktop.jpg')
}


/*---------------crew page styling---------------*/

.crew_page {
    background: url('/src/assets/crew/background-crew-desktop.jpg');
}

/*---------------destination page styling---------------*/

.destination_page {
    background: url('/src/assets/destination/background-destination-desktop.jpg');
}

/*---------------technology page styling---------------*/


.technology_page {
    background: url('/src/assets/technology/background-technology-desktop.jpg');
}

.navs:hover::after,
.dest_button:hover:after,
.navs_active::after,
.dest_active::after {
    scale: 1;
}

.navs::after,
.dest_button::after {
    content: "";
    background-color: white;
    height: 3px;
    width: 100%;
    position: absolute;
    bottom: 0;
    scale: 0;
    transition: all 0.3s ease;
    left: 0;
}

.hamburger {
    display: none;
}

h1.space {
    letter-spacing: 1rem;
}

@media screen and (max-width:768px) {
    .home_page {
        background: url('/src/assets/home/background-home-tablet.jpg');
        flex-direction: column;
        padding: 15px 20px;
        align-items: start;
    }

    .home_page article {
        width: 80%;
        margin-top: 15rem;
        margin-bottom: 5rem;
    }

    .home_page article h1 {
        font-size: 6rem;
    }

    .home_page article p {
        font-size: 12px;
    }

    .crew_page {
        background: url('/src/assets/crew/background-crew-tablet.jpg');
    }

    .destination_page {
        background: url('/src/assets/destination/background-destination-tablet.jpg');
        background-repeat: no-repeat;
    }

    .destination_content {
        flex-direction: column;
    }

    .imgBox img {
        width: 200px;
    }

    .imgBox,
    .desBox {
        width: 80%;
    }

    .technology_page {
        background: url('/src/assets/technology/background-technology-tablet.jpg');
    }

    .header {
        padding: 0 1rem;
    }

    .navBar {
        gap: 7px;
        backdrop-filter: blur(16px);
        background: transparent;
    }

    .navs {
        font-size: 13px;
        margin: 0 5px;
    }
}


@media screen and (max-width:374px) {
    .home_page {
        background: url('/src/assets/home/background-home-mobile.jpg');
        width: 100%;
        min-height: 100vh;
        background-repeat: no-repeat;
        padding: 0 15px;
    }

    .navBar {
        display: none;
    }


    .showNavBar {
        display: flex;
    }

    .home_page article {
        width: 90%;
        margin-top: 9rem;
    }

    .home_page button {
        height: auto;
        width: auto;
        padding: 10px 15px;
        margin-bottom: 10px;
    }

    h1.space {
        letter-spacing: 4px;
        font-size: 36px;
    }

    .heading_div {
        width: 200px;
    }

    .heading {
        margin-left: -3rem;
        font-size: 16px;
    }

    .crew_page {
        background: url('/src/assets/crew/background-crew-mobile.jpg');
        background-repeat: no-repeat;
    }

    .destination_page {
        background: url('/src/assets/destination/background-destination-mobile.jpg');
        background-repeat: no-repeat;
        width: 100%;
        align-items: start;
    }

    .technology_page {
        background: url('/src/assets/technology/background-technology-desktop.jpg');
        background-repeat: no-repeat;
    }

    .hamburger {
        display: block;
        z-index: 10;
    }

    #close {
        display: none;
    }

    .navBar {
        position: absolute;
        backdrop-filter: none;
        background-color: #1c1c1c;
        height: 100vh;
        right: 0;
        top: -2.5rem;
        flex-direction: column;
        align-items: start;
        justify-content: center;
    }

    .navs::after {
        display: none;
    }
}